/* SCREEN CSS */

/* CSS Reset courtesy of http:///meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/* Now, on to real styling. */
body {
    background: #515151 url(../img/splash-gradient.png) repeat-x top;
}

#wrap {
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    text-align: left;
    width: 800px;
}

body img {
    display: block;
}

#joe {
    position: absolute;
    right: 0;
    top: 0;
}

#book {
    float: left;
}

#splash-desc {
    color: #f3f3f3;
    float: left;
    font-family: arial, helvetica, arial, verdana, "trebuchet ms", sans;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 60px 0 0 25px;
    text-shadow: 1px 1px 1px #000;
    width: 365px;
}

#splash-desc p {
    margin-bottom: 1em;
}

#splash-desc a {
    color: #f3f3f3;
}

#buy {
    background: url(../img/splash-buy.png) no-repeat;
    display: block;
    float: left;
    height: 70px;
    width: 163px;
}

#read {
    background: url(../img/splash-read.png) no-repeat bottom right;
    display: block;
    float: left;
    height: 70px;
    width: 195px;
}

#read span,
#buy span {
    display: none;
}

#code {
    float: right;
    margin: 25px 10px 0 0;
}
